###########
# enviroment    
###########
.venv/
venv/
.env
__pycache__/

###########
# customer / buisness data
###########
references/
challenges.json
products.txt


###########
# embeddings
###########
chroma_db/

